@font-face {
  font-family: 'open_sanslight';
  src: url('css/opensans-light-webfont.woff2') format('woff2'),
       url('css/opensans-light-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body,
html {
  font-family: open_sanslight;
}

@media (max-width: 668px){
  body {
    padding: 0 2rem;
  }
}

.build-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  width: 100%;
}

.card {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #f3f3f3;
}

legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1rem;
}
